<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.dao.ICheckTableDao">

    <!--
        向检查表模板中添加一条新的检查表模板
    -->
    <insert id="insertCheckTable" parameterType="com.whut.bean.CheckTable">
        insert into checktables
        values
        (
        NULL,
        #{name},
        #{identifier},
        #{type},
        #{deptId},
        #{addDate},
        #{isDelete},
        '1970-01-01'
        )
        <selectKey resultType="Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--
    查找所有的检查表的记录
    -->
    <select id="getListCheckTable" resultType="java.util.Map">
        select c.id,c.name cName,d.name dName,identifier,type,addDate,isDelete,deleteDate
        from checktables as c,department as d
        where c.deptId=d.id
    </select>

    <!--
    根据id修改检查表的信息
    -->
    <update id="updateCheckTable" parameterType="com.whut.bean.CheckTable">
        update checktables
        set
        name=#{name},
        identifier=#{identifier},
        type=#{type},
        deptId=#{deptId},
        addDate=#{addDate},
        isDelete=#{isDelete},
        deleteDate=#{deleteDate}
        where id=#{id}
    </update>

    <!--
    获取所有没有删除检查表的id和name
    -->
    <select id="getIdAndNameListCheckTable" resultType="java.util.Map">
        select id,name
        from checktables
        where isDelete=0
    </select>

    <!--
    根据检查表id获得其详情
    -->
    <select id="getDetailCheckTable" resultType="java.util.Map" parameterType="java.lang.Integer">
        select c.id id,c.name name,identifier,type,d.name deptName,addDate,isDelete,deleteDate
        from checktables as c,department as d
        where c.id=#{checkTableId} and c.deptId=d.id
    </select>

    <!--
    由id删除一张检查表
    -->
    <update id="deleteCheckTable" parameterType="java.lang.Integer">
        update checktables
        set isDelete=1
        where id=#{checkTableId}
    </update>
</mapper>