<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.dao.IInputDao">
    <!--
    添加录入检查表
    -->
    <insert id="insertInput" parameterType="com.whut.bean.Input">
        insert into input
        values
        (
        #{id},
        #{checkTableId},
        #{userName},
        #{deptId},
        #{checkDate},
        #{deptedId},
        #{isQualified},
        #{desc},
        #{type},
        #{otherPerson}
        )
    </insert>

    <!--
    添加隐患的信息
    -->
    <insert id="insetHiddenDanger" parameterType="com.whut.bean.HiddenDanger">
        insert into hiddendanger
        values
        (
        NULL,
        #{inputId},
        #{type},
        #{hPhoto},
        #{status},
        #{startDate},
        #{endDate},
        #{finishDate},
        #{rPhoto},
        #{desc},
        #{isFile},
        #{dispatchUserId},
        #{dispatchDeptId},
        #{deptId},
        #{content}
        )
    </insert>

    <!--
    添加二级指标的具体内容
    -->
    <insert id="insertCheckTableDetail" parameterType="com.whut.bean.CheckTableDetail">
        insert into checkdetail
        values
        (
        #{inputId},
        #{secondLevelIndicatorId},
        #{isQualified},
        #{desc}
        )
    </insert>
</mapper>