<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.dao.IRiskDao">
    <!--<select id="getAllRisk" resultType="com.whut.bean.Risk">
        select * from risk
    </select>-->

    <insert id="insertRisk" parameterType="com.whut.bean.Risk">
        insert into risk
        values
        (
        NULL,
        #{name},
        #{place},
        #{level},
        #{telephone}
        )
        <selectKey resultType="Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--获取所有的风险-->
    <select id="getListRisk" resultType="java.util.Map" parameterType="com.whut.bean.Risk">
        select id,name,place,level,telephone
        from risk
    </select>

    <!--根据检查表id获得其详情-->

    <select id="getDetailRisk" resultType="java.util.Map">
        select id,name,place,level,telephone
        from risk
    </select>


    <update id="updateRiskById" parameterType="com.whut.bean.Risk">
        update risk
        set
        name=#{name},
        place=#{place},
        level=#{level},
        telephone=#{telephone}
        where id=#{id}
    </update>

   <!-- <select id="getDetailRisk" resultType="java.util.Map" parameterType="java.lang.Integer">
        select name,place,level,telephone from risk
        where id=#{riskId}
    </select>-->


    <delete id="deleteRisk" parameterType="com.whut.bean.Risk">
        delete from risk where id=#{id}
    </delete>
</mapper>